body {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.upload {
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;

    color: white;
    background-color: mediumpurple;

    border: none;
    padding: 24px;
    border-radius: 100px;
}

.upload:hover {
    transform: scale(1.1);

    color: black;
    background-color: #B7DB70;
}

.canvas {
    outline: solid 2px black;
}