.temp {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

body {
    align-items: center;
    text-align: left;
    margin: 0;
}

h4 {
    width: fit-content;
    outline: solid 2px black;
}

.upload {
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;

    color: white;
    background-color: mediumpurple;

    border: none;
    padding: 24px;
    border-radius: 100px;
}

.upload:hover {
    color: black;
    background-color: rgba(147, 112, 216, 0.482);
}

.upload:active {
    transform: scale(0.99);
    transition: transform 10ms;
}

.canvas {
    outline: solid 2px black;
}